<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow" style="width: 22rem;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Tecnologia Web 3</h3>
      <h5 class="text-center">Criação de usuário</h5>
      <hr />
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <div class="mb-3">
          <label for="nome" class="form-label">Entre com o seu nome:</label>
          <input type="text" class="form-control" id="nome"
                 placeholder="Digite seu nome" formControlName="nome">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Entre com o seu email:</label>
          <input type="email" class="form-control" id="email"
                 placeholder="Digite seu email" required formControlName="email"
                 (input)="validateEmail()">

            <ul class="mt-2">
                <li [ngClass]="{'text-success': emailRules.confirm, 'text-danger': !emailRules.confirm}">
                    Digite um e-mail válido
                </li>
            </ul>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Entre com a sua senha:</label>
          <input type="password" class="form-control" id="password"
                 placeholder="Digite sua senha" required
                 formControlName="senha" (input)="validatePassword()">

          <!-- Lista de regras -->
          <ul class="mt-2">
            <li [ngClass]="{'text-success': passwordRules.length, 'text-danger': !passwordRules.length}">
              1 - Ter entre 8 e 16 caracteres
            </li>
            <li [ngClass]="{'text-success': passwordRules.number, 'text-danger': !passwordRules.number}">
              2 - Ter ao menos 1 número e 1 letra
            </li>
            <li [ngClass]="{'text-success': passwordRules.uppercase, 'text-danger': !passwordRules.uppercase}">
              3 - Ter ao menos 1 letra maiúscula
            </li>
            <li [ngClass]="{'text-success': passwordRules.special, 'text-danger': !passwordRules.special}">
              4 - Ter ao menos 1 caractere especial
            </li>
          </ul>
        </div>

        <div class="mb-3">
          <label for="password-confirm" class="form-label">Confirme a sua senha:</label>
          <input type="password" class="form-control" id="password-confirm"
                 placeholder="Confirme sua senha" required
                 formControlName="verificaSenha" (input)="validatePasswordConfirm()">
            <ul class="mt-2">
                <li [ngClass]="{'text-success': passwordRules.confirm, 'text-danger': !passwordRules.confirm}">
                    A confirmação da senha deve ser igual à senha
                </li>
            </ul>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
        <div class="d-grid mt-2">
          <a routerLink="/autenticar-usuario" class="btn btn-secondary">
            Já possui conta? Acesse aqui!
          </a>
        </div>
        <div class="d-grid mt-2">
          <button type="button" class="btn btn-info" [routerLink]="['/usuarios']">
            Lista de usuários
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
